In [37]:
from visuals import *
from glob import glob
from datetime import datetime
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)

Single property

In [2]:
sdate = np.datetime64('2018-09-30')
bcap = 0.08
scap = 0.065
emonth = 7
fyrrent = 35e6
rentinc = 0.
incperiod = 1.
ltv = 0.6
lfee = 1e-2
r0 = 2.5e-2
libor = (np.linspace(0, 10, 11)*0.05 + np.ones(11)*1.95)/100.
acost = 1e-2
ecost = 5e-2
fyroexp = 0.
oexpinc = 0.
aperiod = np.inf
aintrate = 0.
repprem = 1.
cf = singlepropcf(sdate, bcap, scap, emonth, fyrrent, rentinc, incperiod, ltv, lfee, r0, libor, acost, ecost, fyroexp, oexpinc, aperiod, aintrate, repprem)

In [3]:
viewsinglecf('Bicentenario', *cf)

Bicentenario,,,,,,,,
Month #,0,1,2,3,4,5,6,7
Dates,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30
Starting debt,$0.00,"$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00"
Loan,"$259,875,000.00",$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"-$262,500,000.00"
Property buy/sell,"-$441,875,000.00",$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$511,538,461.54"
Rent,$0.00,"$2,916,666.67","$2,916,666.67","$2,916,666.67","$2,916,666.67","$2,916,666.67","$2,916,666.67",$0.00
Operating expenses,-$0.00,-$0.00,-$0.00,-$0.00,-$0.00,-$0.00,-$0.00,-$0.00
Interest,-$0.00,"-$1,017,187.50","-$995,312.50","-$1,039,791.67","-$1,051,093.75","-$959,583.33","-$1,073,697.92","-$1,050,000.00"
Amortization,-$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
Final debt,"$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00",$0.00
Total cash flow,"-$182,000,000.00","$1,899,479.17","$1,921,354.17","$1,876,875.00","$1,865,572.92","$1,957,083.33","$1,842,968.75","$247,988,461.54"

In [4]:
ret = returns(cf[-1], cf[0])
viewret(*ret)

Returns            Value
Inflow   $259,351,794.87
Outflow  $182,000,000.00
Profit    $77,351,794.87
MOIC             1.42501
IRR             0.868289

Portfolio modelling

In [8]:
curves = glob('*.xlsx')

In [12]:
temp = pd.read_excel(curves[0]).values
libor = temp.T[18]

In [40]:
nprop = 11
sdate = datetime(2018,8,31)
bcaps = np.ones(nprop)*0.09

In [41]:
emonths = [3]
for i in range(1, 11):
    emonths.append(emonths[i-1] +2)

In [42]:
scaps = np.ones(nprop)*0.065
emonths
emonths = [3, 5, 7, 9, 11, 13, 15]
fyrrents = np.ones(nprop)*35e6/nprop
rentincs = np.ones(nprop)/100.
incperiods = np.ones(nprop)
ltvs = np.ones(nprop)*0.55
lfee = 0.01
r0 = 0.025
# libor = (np.linspace(0, 15, 16)*0.05 + np.ones(16)*1.95)/100.
acosts = np.ones(nprop)*1e-2
ecosts = np.ones(nprop)*5e-2
fyroexps = np.zeros(nprop)
oexpincs = np.zeros(nprop)
aperiod = np.inf
aintrate = 0.
repprem = 1.2
names = ['200 Aurora Way', '9950 Wakeman Drive', '1900 SW 44th Ave.', '100 Center Ave N', '215 Mill Street SW', '1090 Pacific Ave', '1600 2nd Street NE',
         '3000 Tremont Road', '8700 W Doe Ave', '10401 Bunsen Way', '660 National Turnpike']
alldates, amort, propcf, interest, loanpay, debt = portcf(names, sdate, bcaps, scaps, emonths, fyrrents, rentincs, incperiods, ltvs, lfee, r0, libor, acosts, ecosts, fyroexps, oexpincs, aperiod, aintrate, repprem)

NameError: name 'libor' is not defined

In [12]:
df = viewportcf(names, alldates, amort, propcf, interest, loanpay, debt)
df

,,,,,,,,,,,,,,,,
Month #,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Dates,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31
Starting debt,$0.00,"$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$199,500,000.00","$199,500,000.00","$10,500,000.00"
Amortization,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00
Bicentenario,"-$88,375,000.00","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$102,307,692.31",$0.00,$0.00,$0.00
Santa Laura,"-$88,375,000.00","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$589,166.67","$103,330,769.23",$0.00
Monumental,"-$88,375,000.00","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$589,166.67","$103,330,769.23",$0.00
San Carlos,"-$88,375,000.00","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$589,166.67","$103,330,769.23",$0.00
Estadio Nacional,"-$88,375,000.00","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$583,333.33","$589,166.67","$589,166.67","$103,330,769.23"
Interest payment,-$0.00,"-$1,017,187.50","-$995,312.50","-$1,039,791.67","-$1,051,093.75","-$959,583.33","-$1,073,697.92","-$1,050,000.00","-$1,096,302.08","-$1,071,875.00","-$1,118,906.25","-$1,130,208.33","-$1,104,687.50","-$876,137.50","-$856,187.50","-$47,016.67"
Loan cashflow from buy/sell,"$259,875,000.00",$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"-$63,000,000.00",$0.00,"-$189,000,000.00","-$10,500,000.00"
Final debt,"$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$262,500,000.00","$199,500,000.00","$199,500,000.00","$10,500,000.00",$0.00
Total cash flow,"-$441,875,000.00","$1,899,479.17","$1,921,354.17","$1,876,875.00","$1,865,572.92","$1,957,083.33","$1,842,968.75","$1,866,666.67","$1,820,364.58","$1,844,791.67","$1,797,760.42","$1,786,458.33","$103,536,338.14","$1,480,529.17","$309,725,286.86","$103,283,752.56"

In [17]:
viewret(*returns(np.array(amort) + np.sum(propcf, axis = 0) + np.array(interest) +np.array(loanpay), alldates))

Returns            Value
Inflow   $276,005,281.73
Outflow  $182,000,000.00
Profit    $94,005,281.73
MOIC             1.51651
IRR             0.454209

In [16]:
df.values[-1].astype(float)

ValueError: could not convert string to float: $103,283,752.56

In [13]:
date = np.datetime64('2005-02-03')
dates = pd.date_range(start = '1993-01-30', end = '2018-08-17', freq = 'M')

In [10]:
a = np.array([12, 14, 14, 14, 15])
np.where(a==12)

(array([0], dtype=int64),)

In [14]:
len(dates)

307

In [15]:
dates[0].month

1

In [16]:
(2012 - 2006)%3

0

In [18]:
a = np.zeros([2, 3])
b = np.ones([5, 3])

In [24]:
np.vstack([a,b])

array([[0., 0., 0.],
       [0., 0., 0.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [33]:
def viewportcf(names, alldates, amort, propcf, interest, loanpay, debt):
    """ Returns a dataframe object with the cashflow per period for the individual properties in a portfolio, as well
        as the total cashflow per period.
    Inputs: names = list/array containing the identifying name for each of the properties
            allcf = individual cashflow per period for each of the properties
            alldates = all dates at which portfolio cashflows take place """

    rows = np.array([np.arange(len(debt)), alldates.date])
    totpropcf = np.sum(propcf, axis = 0)
    totcf = totpropcf + amort + interest + loanpay
    Df = debt + amort + loanpay
    Df[0] = debt[1]
    moneys = np.vstack([debt, amort, propcf, interest, loanpay, Df, totcf])
    rows = np.vstack([rows, convtomoney(moneys)])
    rowlabels = ['Month #', 'Dates', 'Starting debt', 'Amortization'] + names + ['Interest payment', 'Loan cashflow from buy/sell', 'Final debt', 'Total cash flow']
    df = pd.DataFrame(rows, index = rowlabels, columns = ['']*len(debt))
    # df.columns.name = 'Month #'
    return df

def convtomoney(arr):
    """ Converts array of floats/integers into an array of formatted money objects. """
    floatarr = np.array(arr)
    nelem = len(floatarr.flatten())
    dim = floatarr.shape
    monarr = np.zeros(nelem, dtype = object)
    for i in range(nelem):
        monarr[i] = format_money(Money(amount = str(floatarr.flatten()[i]), currency = 'USD'), locale = 'en_US')
    return monarr.reshape(dim)

In [34]:
names = ['Bicentenario', 'Santa Laura']
alldates = pd.date_range(start = np.datetime64('2018-08-31'), periods = 10, freq = 'M')
amort = np.random.randn(10)
propcf = np.random.randn(2, 10)
interest = np.random.randn(10)
loanpay = np.random.randn(10)
debt = np.random.randn(10)
viewportcf(names, alldates, amort, propcf, interest, loanpay, debt)

,,,,,,,,,,
Month #,0,1,2,3,4,5,6,7,8,9
Dates,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31
Starting debt,-$1.47,$0.14,$0.63,$0.93,-$0.74,$1.26,$0.40,$0.52,-$1.46,$1.30
Amortization,$0.63,-$0.75,-$0.77,$0.83,$1.08,$0.35,$1.71,-$0.34,$1.46,-$0.64
Bicentenario,-$0.41,-$0.47,-$0.09,-$1.04,-$0.55,$1.46,-$0.65,$0.17,-$0.95,-$1.32
Santa Laura,$0.47,$0.96,$0.18,-$0.04,-$0.75,-$1.92,$0.22,$0.95,$1.81,-$1.05
Interest payment,$0.49,$0.18,-$0.69,$1.36,$0.61,-$1.67,$0.55,$0.25,-$0.04,-$0.16
Loan cashflow from buy/sell,$0.05,-$0.32,$1.97,$0.81,-$1.23,$1.08,$0.97,$0.21,-$0.20,$1.01
Final debt,$0.14,-$0.93,$1.83,$2.57,-$0.88,$2.69,$3.08,$0.40,-$0.20,$1.67
Total cash flow,$1.24,-$0.40,$0.60,$1.93,-$0.84,-$0.70,$2.80,$1.25,$2.08,-$2.17

In [36]:
(alldates[4] + pd.Timedelta(np.timedelta64(1, 'M'))).month

1